<body class="overflow-x-hidden bg-[#120f1c]">
  <!-- Loader -->
  <div class="bx-overlay">
    <span class="loader"></span>
  </div>

  <!-- Header -->
  <header class="bg-[#1d1a29] w-full bx-static bx-dark">
    <nav class="border-gray-200 py-2">
      <div class="flex flex-wrap justify-between items-center px-6 mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] max-[320px]:px-[12px] sm:max-w-[540px]">
        <a href="/" class="flex items-center">
          <h1 class="w-[90px]">P4rth</h1>
        </a>
        <div class="flex items-center lg:order-2">
          <button type="button" class="text-white bg-[#7963e0] hover:bg-opacity-80 no-underline font-medium rounded-full text-sm px-8 py-2.5 mr-2 hidden 2xl:block xl:block lg:block">Get a quote</button>
        </div>
      </div>
    </nav>
  </header>
</body>
<router-outlet />
